# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

/Submissions
*studentList*.txt
!studentList_TEMPLATE.txt
*.zip
transcript
*_out.tcl
*.wlf
*.qdb
*.qpg
*.qtl
_info
Modelsim_tb 21/Lab6/vga_output.txt
